$HeaderImage: url("file:///D:/Work/FE/FL13_HW3/homework/img/m-h-day.jpg");
$FontType: 'Hind', sans-serif;
$ButtonColor: #699900;
$BodyBackground:white;
$MarkColor:#0f92b6;
$PlateBackground:#21232e;
$Gradient:linear-gradient(to right, #609022, #2f5dd2);
$TextColor:#2c2f3c;
$FooterColor:#21232e;
