$HeaderImage: url("/FL13_HW3/homework/img/m-h-night.jpg");
$FontType: 'Fresca', sans-serif;
$ButtonColor: #e3ac00;
$BodyBackground:#21232e;
$MarkColor:#ff4e33;
$PlateBackground:#3b3f50;
$Gradient:linear-gradient(to right, #dda306, #9b3a49);
$TextColor:#ffffff;
$FooterColor:#3b3f50;